.container {
  width: 1600px;
}
.flex-element {
  display: flex;
}
:root {
  --colorA: #ffffff;
  --colorB: #2196f3;
  --colorC: #757575;
  --colorD: #000000;
  --colorE: #212121;
  --colorF: #f5f4fa;
  --colorG: #ececec;
}
body {
  background-color: var(--colorA);
  font-family: Roboto;
}
h1 {
  margin: 0px;
  padding: 0px;
}
h3 {
  margin: 0px;
  padding: 0px;
}
h2 {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
  padding: 0px;
}
.link {
  text-decoration: none;
}
.link:focus {
  color: var(--colorB);
}
.link:hover {
  color: var(--colorB);
}
.link-logo {
  text-decoration: none;
}
.logo {
  color: var(--colorD);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-inline: 215px 93px;
  margin-block: 24px 25px;
}
.logo-web {
  color: var(--colorB);
}
.list {
  list-style: none;
}
.mini-border {
  border-bottom: 1px solid;
  color: var(--colorG);
}
.wayfinding-list {
  padding: 0px;
  margin-block: 32px;
}
.wayfinding-list-item-b {
  margin-inline: 46px;
}
.wayfinding-list-item {
  color: var(--colorE);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts-a {
  margin-inline: 371px 50px;
}
.contacts {
  color: var(--colorC);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-block: 32px;
}
.background-a {
  background-color: #2f303a;
}
.slogan {
  color: var(--colorA);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-inline: 452px;
  padding-top: 200px;
}
.slogan-btn {
  background-color: var(--colorB);
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: var(--colorA);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-inline: 700px;
  margin-block: 30px 200px;
}
.general-list {
  margin-block: 94px;
  margin-inline: 215px;
}
.general-list-title {
  color: var(--colorE);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-bottom: 10px;
}
.general-list-description {
  color: var(--colorC);
  font-size: 14px;
  line-height: 1.5;
}
.general-list-item-spacing-a {
  padding-inline: 30px;
}
.general-list-item-spacing-b {
  padding-right: 30px;
}
.title {
  color: var(--colorE);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.background-b {
  background-color: var(--colorF);
}
.team-photo {
  background-color: var(--colorA);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-photo-title {
  color: var(--colorEcolorE);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-photo-description {
  color: var(--colorC);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.background-c {
  background-color: #2f303a;
}
.portfolio-contacts-title {
  color: var(--colorA);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.portfolio-contacts {
  color: var(--colorA);
  font-size: 14px;
  line-height: 1.7;
}
.portfolio-background {
  background-color: var(--colorA);
}
.portfolio-btn {
  background-color: var(--colorF);
  width: 93px;
  height: 38px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: inherit;
}
.portfolio-btn:hover {
  background-color: var(--colorB);
  width: 121px;
  height: 38px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-style: none;
}
.portfolio-btn:focus {
  background-color: var(--colorB);
  width: 121px;
  height: 38px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
